<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <img src="icons/dumbbell-svgrepo-com.svg" alt="Personal Trainer Logo" class="header__logo-img">
      </a>
      <div class="header__title" [class.header__title--hidden]="isScrolledFromTop">
        <div class="header__title-wrapper">
          <div class="header__title-top typo-header-logo-top">TRENER</div>
          <div class="header__title-bottom typo-header-logo-bottom">ADRIAN KOWALSKI</div>
        </div>
      </div>
    </div>

    <button 
      class="header__hamburger" 
      [class.header__hamburger--active]="isMobileMenuOpen"
      (click)="toggleMobileMenu()"
      aria-label="Toggle menu">
      <span class="header__hamburger-line"></span>
      <span class="header__hamburger-line"></span>
      <span class="header__hamburger-line"></span>
    </button>

    <nav class="header__nav" [class.header__nav--mobile-open]="isMobileMenuOpen">
      <ul class="header__menu">
        <li class="header__menu-item" *ngFor="let item of menuItems">
          <a 
            [href]="'#' + item.id" 
            class="header__menu-link" 
            [class.header__menu-link--cta]="item.isCta"
            (click)="handleMenuClick(item.id, $event)">
            {{ item.label }}
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
