@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.about-me {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-bg-quaternary;
  
  &__container {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4rem;
    @include container-padding-with-vertical(4rem);
    
    @media (min-width: $breakpoint-md) {
      gap: 5rem;
    }

    @media (min-width: $breakpoint-lg) {
      gap: 6rem;
    }
  }
  
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;

    @media (max-width: 768px) {
      justify-content: space-around;
    }
  }
  
  &__title {
    margin: 0;
  }
  
  &__description {
    margin: 0;
  }
  
  &__image-wrapper {
    flex: 1;
    position: relative;
    overflow: hidden;
    border-radius: $border-radius-base;
    min-height: 600px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }

    @media (min-width: 769px) {
      &--desktop {
        max-height: 80vh;
        height: 80vh;
      }
    }
    
    @media (max-width: 768px) {
      &--mobile {
        display: block;
        flex: 0 0 auto;
        width: 50vw;
        height: 50vw;
        min-height: unset;
        border-radius: $border-radius-base;
      }

      &--desktop {
        display: none;
      }
    }
  }
  
  &__image {
    width: 150%;
    height: 150%;
    @include image-cover(center top);
    transform: translateX(-25%);
  }
  
  @media (max-width: 768px) {
    &__container {
      flex-direction: column;
      align-items: flex-start;
      @include container-padding-with-vertical(3rem);
      gap: 2rem;
      min-height: 100vh;
    }

    &__content {
      width: 100%;
      gap: 1.5rem;
    }

    &__description {
      width: 100%;
    }
  }
}

