<header class="header">
  <div class="header__container">
    <div class="header__logo">
      <a href="/" class="header__logo-link">
        <img src="icons/dumbbell-svgrepo-com.svg" alt="Personal Trainer Logo" class="header__logo-img">
      </a>
    </div>
    <nav class="header__nav">
      <ul class="header__menu">
        <li class="header__menu-item">
          <a href="#osiagniecia" class="header__menu-link">Osiągnięcia</a>
        </li>
        <li class="header__menu-item">
          <a href="#przemiany" class="header__menu-link">Przemiany</a>
        </li>
        <li class="header__menu-item">
          <a href="#galeria" class="header__menu-link">Galeria</a>
        </li>
        <li class="header__menu-item">
          <a href="#o-mnie" class="header__menu-link">O mnie</a>
        </li>
        <li class="header__menu-item">
          <a href="#umow-trening" class="header__menu-link header__menu-link--cta">Umów trening</a>
        </li>
        <li class="header__menu-item">
          <a href="#kontakt" class="header__menu-link">Kontakt</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
