/* You can add global styles to this file, and also import other style files */

// Import variables
@use 'styles/variables' as *;

// Import Roboto font
@import '@fontsource/roboto/300.css'; // Light
@import '@fontsource/roboto/400.css'; // Regular
@import '@fontsource/roboto/500.css'; // Medium
@import '@fontsource/roboto/700.css'; // Bold

// Global styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
  color: #333;
}
